<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền camera và lưu ảnh -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanIDCard"
        android:usesCleartextTraffic="true">

        <!-- Admin -->
        <activity android:name="com.example.mthd.admin.ScanIDActivity"/>
        <activity android:name="com.example.mthd.admin.RegisterResidentActivity" />
        <activity android:name="com.example.mthd.admin.AdminMainActivity" />
        <activity android:name="com.example.mthd.admin.AdminProfileActivity" />
        <activity android:name="com.example.mthd.admin.AdminCreateNotificationActivity" />
        <activity android:name="com.example.mthd.admin.ContractListActivity" />
        <activity android:name="com.example.mthd.admin.ContractDetailActivity" />
        <activity android:name="com.example.mthd.admin.AdminTempResidenceActivity" />
        <activity android:name="com.example.mthd.admin.ResidentListActivity" />
        <activity android:name="com.example.mthd.admin.ResidentDetailActivity" />



        <activity android:name=".user.UserProfileActivity" />




        <!-- User -->
        <!-- User -->
        <activity android:name="com.example.mthd.user.UserMainActivity" />
        <activity android:name="com.example.mthd.user.MyContractsActivity" />
        <activity android:name="com.example.mthd.user.UserNotificationsActivity" />
        <activity android:name="com.example.mthd.user.RegisterTempResidenceActivity" />


        <!-- Auth -->
        <activity android:name="com.example.mthd.auth.RegisterActivity" />
        <activity android:name="com.example.mthd.auth.LoginActivity" />

        <!-- Main (launcher) -->
        <activity
            android:name="com.example.mthd.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
